.nose {
  left: 53.7rem;
  top: 48rem;
  z-index: 20;
}

.eye {
  left: 63rem;
  top: 24rem;
  z-index: 21;
}

.neck {
  top: 40rem;
  left: 53.7rem;
  z-index: 22;
}

.chest {
  top: 32rem;
  left: 63rem;
  z-index: 23;
}

.hand {
  top: 44rem;
  left: 53.7rem;
  z-index: 24;
}

.vagina {
  top: 48rem;
  left: 63rem;
  z-index: 25;
}

.foot {
  top: 40rem;
  left: 63rem;
  z-index: 26;
}

.head {
  top: 24rem;
  left: 53.7rem;
  z-index: 27;
}

.mouth {
  top: 28rem;
  left: 53.7rem;
  z-index: 28;
}

.arm {
  top: 32rem;
  left: 53.7rem;
  z-index: 29;
}

.navel {
  top: 28rem;
  left: 63rem;
  z-index: 30;
}

.waist {
  top: 36rem;
  left: 53.7rem;
  z-index: 31;
}

.penis {
  top: 36rem;
  left: 63rem;
  z-index: 32;
}

.leg {
  top: 44rem;
  left: 63rem;
  z-index: 33;
}
