.backWaist {
  top: 29rem;
  left: 58.3rem;
  z-index: 34;
}

.backWaist-2 {
  top: 29rem;
  left: 58.3rem;
  z-index: 35;
}

.anus {
  top: 33rem;
  left: 58.3rem;
  z-index: 36;
}

.anus-2 {
  top: 33rem;
  left: 58.3rem;
  z-index: 37;
}

.back {
  top: 37rem;
  left: 58.3rem;
  z-index: 38;
}

.back-2 {
  top: 37rem;
  left: 58.3rem;
  z-index: 39;
}

.buttocks {
  top: 41rem;
  left: 58.3rem;
  z-index: 40;
}

.buttocks-2 {
  top: 41rem;
  left: 58.3rem;
  z-index: 41;
}
