*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hide {
  display: none;
}

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 128rem;
  height: auto;
}

.card__side {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
  width: 128rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.8s ease;
}

.card-picture {
  background-size: cover;
  width: auto;
  height: 58rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: url(img/partes-publicas-y-privadas-1-blank.png);
}

.card-picture-2 {
  background-size: cover;
  width: auto;
  height: 58rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: url(img/partes-publicas-y-privadas-2-blank.png);
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--front-effect {
  transform: rotateY(-180deg);
}

.card__side--back-effect {
  transform: rotateY(0deg);
}

/*-----------------------------------------------*/

.body {
  position: absolute;
  width: 10.5rem;
  height: 2.8rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.body:hover {
  transform: translateY(-0.3rem);
}

.body:active {
  color: yellow;
}

.empty {
  position: absolute;
  width: 10.5rem;
  height: 2.8rem;
  border-radius: 1.8rem;
  cursor: pointer;
}

/*-----------------------------------------------*/

.nose {
  left: 53.7rem;
  top: 48rem;
  z-index: 20;
}

.eye {
  left: 63rem;
  top: 24rem;
  z-index: 21;
}

.neck {
  top: 40rem;
  left: 53.7rem;
  z-index: 22;
}

.chest {
  top: 32rem;
  left: 63rem;
  z-index: 23;
}

.hand {
  top: 44rem;
  left: 53.7rem;
  z-index: 24;
}

.vagina {
  top: 48rem;
  left: 63rem;
  z-index: 25;
}

.foot {
  top: 40rem;
  left: 63rem;
  z-index: 26;
}

.head {
  top: 24rem;
  left: 53.7rem;
  z-index: 27;
}

.mouth {
  top: 28rem;
  left: 53.7rem;
  z-index: 28;
}

.arm {
  top: 32rem;
  left: 53.7rem;
  z-index: 29;
}

.navel {
  top: 28rem;
  left: 63rem;
  z-index: 30;
}

.waist {
  top: 36rem;
  left: 53.7rem;
  z-index: 31;
}

.penis {
  top: 36rem;
  left: 63rem;
  z-index: 32;
}

.leg {
  top: 44rem;
  left: 63rem;
  z-index: 33;
}

/*-----------------------------------------------*/

.backWaist {
  top: 29rem;
  left: 58.3rem;
  z-index: 34;
}

.backWaist-2 {
  top: 29rem;
  left: 58.3rem;
  z-index: 35;
}

.anus {
  top: 33rem;
  left: 58.3rem;
  z-index: 36;
}

.anus-2 {
  top: 33rem;
  left: 58.3rem;
  z-index: 37;
}

.back {
  top: 37rem;
  left: 58.3rem;
  z-index: 38;
}

.back-2 {
  top: 37rem;
  left: 58.3rem;
  z-index: 39;
}

.buttocks {
  top: 41rem;
  left: 58.3rem;
  z-index: 40;
}

.buttocks-2 {
  top: 41rem;
  left: 58.3rem;
  z-index: 41;
}

/*-----------------------------------------------*/

.space-1 {
  left: 8.04rem;
  top: 24.6rem;
}

.space-2 {
  top: 25rem;
  left: 39.7rem;
}

.space-3 {
  top: 35.2rem;
  left: 12.3rem;
}

.space-4 {
  top: 34rem;
  left: 35.7rem;
}

.space-5 {
  top: 45.9rem;
  left: 7.8rem;
}

.space-6 {
  top: 48rem;
  left: 33.8rem;
}

.space-7 {
  top: 51.6rem;
  left: 10rem;
}

.space-8 {
  top: 24.5rem;
  left: 109.4rem;
}

.space-9 {
  top: 26.8rem;
  left: 81.5rem;
}

.space-10 {
  top: 30.6rem;
  left: 109.8rem;
}

.space-11 {
  top: 35.6rem;
  left: 78.7rem;
}

.space-12 {
  top: 38.4rem;
  left: 108.2rem;
}

.space-13 {
  top: 47rem;
  left: 83.1rem;
}

.space-14 {
  top: 49.5rem;
  left: 105.6rem;
}

.space-15 {
  top: 36.8rem;
  left: 13rem;
}

.space-16 {
  top: 45.3rem;
  left: 14.3rem;
}

.space-17 {
  top: 41rem;
  left: 40.3rem;
}

.space-18 {
  top: 47rem;
  left: 37.8rem;
}

.space-19 {
  top: 34rem;
  left: 108rem;
}

.space-20 {
  top: 38.6rem;
  left: 82.2rem;
}

.space-21 {
  top: 47.8rem;
  left: 84rem;
}

.space-22 {
  top: 46rem;
  left: 106.4rem;
}

/**POPUP************************************************************/
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s 0.3s;
}

.popup__close:link,
.popup__close:visited {
  position: absolute;
  top: 1rem;
  right: 1.8rem;
  display: inline-block;
  font-size: 3.2rem;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  transition: all 0.2s;
}

.popup__close:hover {
  color: #ff0;
}

.message-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: auto;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(251, 63, 63, 1) 0%,
    rgba(252, 250, 70, 1) 100%
  );
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.message-img {
  height: 48rem;
  width: auto;
  border-radius: 0.5rem;
}
