@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f3f3f3;
  font-family: "Atma", cursive;
  color: #f3f3f3;
}

.container {
  position: relative;
}

.container__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .container__flex img {
  margin-top: 3rem;
  height: 90vh;
  width: 94%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
}

.container-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 65vh;
}

.container-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 1px solid #a9a9a9;
  z-index: -1;
  opacity: 0;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
}
